<!-- <form [formGroup]="departmentGroup">
    <div>
        <label id="title" for="">Title</label>
        <input type="text" id="title" formControlName="title">
    </div>
    <div>
        <label id="context" for="">Title</label>
        <input type="text" id="title" formControlName="sub_title">
    </div>
    <div>
        <label id="context" for="">Title</label>
        <input type="text" id="title" formControlName="context">
    </div>
    <button type="submit" (click)="submitForm($event)"></button>
</form> -->
<aside class="department__vendor">
    <nav class="department__vendor-nav">
        <ul class="department__vendor-list">
            <li><a class="department__vendor-el__title" routerLink="/departments">Department</a></li>
            <li><a class="department__vendor-el__title" routerLink="/departments/create">Department Create</a></li>
            <!-- <li><a class="department__vendor-el__title" routerLink="/departments">Department</a></li> -->
        </ul>
    </nav>
</aside>