.department {
  &__search {
    &-wrapper {
      margin-top: 35px;
    }
  }
  &__btn {
    &-middle {
      margin-bottom: 8px;
    }
  }
  &__full {
    &-width {
      width: 100%;

      text-align: center;
    }
  }
}
