<div class="row justify-content-center no-gutters">
    <label
        [ngClass]="customClass ? customClass : 'col-xl-6 col-sm-8 col-xs-12'"
        [attr.for]="id"
    >
        <input
            class="department__vendor-input"
            #input
            [class.label-control__error]="errors.length > 0"
            [id]="id"
            [type]="type"
            (change)="
                onChange('change', { key: input.name, value: input.value })
            "
            (keyup)="onChange('keyup', { key: input.name, value: input.value })"
            [name]="name"
            [value]="_value"
        />
        <div
            #label
            [class.label-control__active]="input.value | length"
            class="label-control"
        >
            {{ pH }}
        </div>
        <div *ngIf="c.invalid && (c.dirty || c.touched)" class="error-control">
            <span *ngFor="let error of errors">
                <div *ngFor="let sub_error of error">
                    <div
                        class="error-control__minlength"
                        *ngIf="sub_error.minlength"
                    >
                        * The minimum length is 4 symbols.
                    </div>
                    <div
                        class="error-control__required"
                        *ngIf="sub_error.required"
                    >
                        * Please, fill out this field.
                    </div>
                    <div
                        class="error-control__pattern"
                        *ngIf="sub_error.pattern"
                    >
                        * Please, don't use spell symbols.
                    </div>
                </div>
            </span>
        </div>
    </label>
</div>
