<section class="department__vendor">
    <div class="container">
        <div class="row justify-content-center no-gutters align-items-center mx-3 mb-4">
            <form [formGroup]="departmentForm" (submit)="createForm($event)"
                class="col-xl-8 col-sm-10 col-md-12 col-xs-12">
                <div class="department__vendor-create__info row justify-content-center align-items-center pb-4 mb-4">
                    <div class="department__vendor-create__header col-xl-12 col-sm-12 col-xs-12 pb-4">
                        <h3 class="department__vendor-create__info-title">Department info</h3>
                    </div>
                    <div class="department__vendor-create__body col-12 col-xs-12 col-sm-12">
                        <div class="department__vendor-create__items">
                            <department-form-inp formControlName="name" text="name" [c]="departmentForm.controls.name"
                                [optional]="true" pH="Name" idd="name">
                            </department-form-inp>
                            <department-form-inp formControlName="API_SCHEMA_KEY" text="API_SCHEMA_KEY"
                                [c]="departmentForm.controls.API_SCHEMA_KEY" [optional]="true" idd="API_SCHEMA_KEY"
                                pH="API Key">
                            </department-form-inp>
                            <div class="row no-gutters mt-2">
                                <div class="col-xl-9 col-sm-10 col-md-10 text-right">
                                    <department-button type="submit" text="Add new field" color="green" link>
                                    </department-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="department__vendor-create__info row justify-content-center align-items-center pb-4">
                    <div class="department__vendor-create__header col-xl-12 col-sm-12 col-xs-12 pb-4">
                        <h3 class="department__vendor-create__info-title">Department Contact Person</h3>
                    </div>
                    <div class="department__vendor-create__body col-12 col-xs-12 col-sm-12">
                        <div class="department__vendor-create__items">
                            <department-form-inp formControlName="owner" text="owner"
                                [c]="departmentForm.controls.owner" [optional]="true" idd="owner" pH="Name">
                            </department-form-inp>
                            <department-form-inp formControlName="email" text="email"
                                [c]="departmentForm.controls.email" [optional]="true" idd="email" pH="E-mail">
                            </department-form-inp>
                            <department-form-inp formControlName="telephone" text="telephone"
                                [c]="departmentForm.controls.telephone" [optional]="true" idd="telephone"
                                pH="Telephone">
                            </department-form-inp>
                            <div class="row no-gutters mt-2">
                                <div class="col-xl-9 col-sm-10 col-md-10 text-right">
                                    <department-button type="submit" text="Add new field" color="green" link>
                                    </department-button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="department__vendor-form__footer row justify-content-center align-items-center mt-4">
                    <div class="col-xl-4 col-xs-12 col-md-4 col-sm-6 pb-2">
                        <department-button class="department__full-width" type="submit" text="Cancel" color="gray">
                        </department-button>
                    </div>
                    <div class="col-xl-8 col-xs-12 col-md-8 col-sm-6 pb-2">
                        <department-button class="department__full-width" type="submit" text="Send" color="green">
                        </department-button>
                    </div>
                </div>
            </form>
        </div>
    </div>
</section>