$vendor: #0c0c0c;
 
$light-font: "Montserrat Light", sans-serif; 
$medium-font: "Montserrat Medium", sans-serif;
$semibold-font: "Montserrat Semibold", sans-serif;
$bold-font: "Montserrat Bold", sans-serif; 


@import "@@/../node_modules/bootstrap/scss/functions";
@import "@@/../node_modules/bootstrap/scss/variables";
@import "@@/../node_modules/bootstrap/scss/mixins";
