<div *ngIf="modalActivated.activated">
    <div class="department__modal">
        <div class="department__modal-wrapper">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-lg-6 col-xs-12 col-md-12 col-sm-12">
                        <div class="department__modal-inner">
                            <div class="department__modal-header">
                                <div class="row mb-4">
                                    <div class="col-12 text-center">
                                        <span>
                                            Are you sure that you want to delete
                                            <br />category
                                            <b>
                                                {{
                                                    modalContext.department_name
                                                }}?
                                            </b>
                                        </span>
                                    </div>
                                </div>
                            </div>
                            <div class="department__modal-body"></div>
                            <div class="department__modal-footer">
                                <div class="department__modal-cancel">
                                    <div class="row">
                                        <div class="col-6 text-center">
                                            <department-button
                                                type="submit"
                                                class="department__btn-middle department__full-width department_btn-cancel"
                                                text="Cancel"
                                                (click)="
                                                    cancelModalState($event)
                                                "
                                                color="gray"
                                                link
                                            >
                                            </department-button>
                                        </div>
                                        <div class="col-6 text-center">
                                            <department-button
                                                (click)="
                                                    acceptDemolishDepartment(
                                                        $event
                                                    )
                                                "
                                                type="submit"
                                                class="department__btn-middle department__full-width department_btn-accept"
                                                text="Accept"
                                                color="green"
                                                link
                                            >
                                            </department-button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
